@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1 {
    text-align: center;
    font-family: "Lobster", "cursive";
    font-size: 75px;
    color: #990000;

    text-shadow:
        -1px -1px var(--blur) var(--shadow),
        1px -1px var(--blur) var(--shadow),
        -1px 1px var(--blur) var(--shadow),
        1px 1px var(--blur) var(--shadow);
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.strat {
    width: 45vw;
    height: auto;
}

.ascent, .bind, .breeze, .fracture, .haven, .icebox, .pearl {
    background-size: 100% auto;
    background-repeat: repeat-y;
}

.ascent {
    background-image: url("Images/Maps/Ascent.webp");
}

.bind {
    background-image: urL("Images/Maps/Bind.webp");
}

.breeze {
    background-image: url("Images/Maps/Breeze.webp");
}

.fracture {
    background-image: url("Images/Maps/Fracture.webp");
}

.haven {
    background-image: url("Images/Maps/Haven.webp");
}

.icebox {
    background-image: url("Images/Maps/Icebox.webp");
}

.pearl {
    background-image: url("Images/Maps/Pearl.webp");
}

figure {
    margin: 20px;
    background: rgba(0, 0, 0, .5);
    border: 5px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 5px;
}


figcaption {
    color: #990000;
    text-align: center;
    font-size: 50px;
    font-weight: 500;

    text-shadow:
        -1px -1px var(--blur) var(--shadow),
        1px -1px var(--blur) var(--shadow),
        -1px 1px var(--blur) var(--shadow),
        1px 1px var(--blur) var(--shadow);
}